* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sedgwick Ave', cursive;
    zoom: 95%;
}

.month {
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 10px;
    padding-top: 90px;
    padding-bottom: 15px;
}

.month.december {
    text-shadow: 2px 1px 0 rgb(186, 212, 192), 4px 3px 0 rgb(81, 102, 80);
    background-image: url('https://i.pinimg.com/736x/f4/a1/d7/f4a1d7728a987dce535f814e7ca30195.jpg');
    object-fit: cover;
}

.month.january {
    text-shadow: 2px 1px 0 rgb(173,201,220), 4px 3px 0 rgb(84,127,161);
    background-image: url('https://image.shutterstock.com/image-illustration/winter-border-blue-snowflakes-on-260nw-522644752.jpg');
    object-fit: cover;
}

.month.february {
    text-shadow: 2px 1px 0 rgb(252, 218, 233), 4px 3px 0 rgb(242, 64, 95);
    background-image: url('https://media.istockphoto.com/vectors/loopable-love-frame-pink-heart-shaped-confetti-forming-a-header-for-vector-id1195607900?k=20&m=1195607900&s=170667a&w=0&h=vM_IGCVZFZnV4bNya2HRB_lWZTmmiAuUubhfqdfZmgI=');
    object-fit: cover;
}

#week-days, a {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
    color: black;
    text-decoration: none;
    text-align: center;
}

a:visited {
    text-decoration: none;
    color: black;
}

.day-box {
    border: 2px solid black;
    border-radius: 4px;
    position: relative;
}

.december.day-box {
    box-shadow: 3px 3px 3px 0 rgb(81, 102, 80);
}

.january.day-box {
    box-shadow: 3px 3px 3px 0 rgb(84,127,161);
}

.february.day-box {
    box-shadow: 3px 3px 3px 0 rgb(242, 64, 95);
}

.day-header {
    padding: 5px 5px 2px;
    text-align: center;
    font-size: 30px;
    border-bottom: 2px solid black;
}

.day-activities {
    padding: 8px;
    font-size: 18px;
}

.day-activities ul {
    list-style-position: inside;
    text-align: left;
}

#week-1 .december.day-header {
    background-color: rgb(100, 132, 108);
}

#week-2 .december.day-header {
    background-color: rgb(125, 161, 132);
}

#week-3 .december.day-header {
    background-color: rgb(147, 184, 154);
}

#week-4 .december.day-header {
    background-color: rgb(186, 212, 192);
}

#week-5 .december.day-header {
    background-color: rgb(213, 230, 216);
}

#week-1 .january.day-header {
    background-color: rgb(120, 166, 201);
}

#week-2 .january.day-header {
    background-color: rgb(138, 180, 212);
}

#week-3 .january.day-header {
    background-color: rgb(161, 196, 223);
}

#week-4 .january.day-header {
    background-color: rgb(183, 215, 240);
}

#week-5 .january.day-header {
    background-color: rgb(210, 233, 250);
}

#week-6 .january.day-header {
    background-color: rgb(234, 242, 248);
}

#week-1 .february.day-header {
    background-color: rgb(236, 91, 116);
}

#week-2 .february.day-header {
    background-color: rgb(238, 121, 141);
}

#week-3 .february.day-header {
    background-color: rgb(241, 149, 165);
}

#week-4 .february.day-header {
    background-color: rgb(241, 178, 188);
}

#week-5 .february.day-header {
    background-color: rgb(240, 207, 213);
}

#week-1:hover, #week-2:hover, #week-3:hover, #week-4:hover, #week-5:hover, #week-6:hover {
    transform: scale(1, 1.25);
}

footer {
    padding: 10px;
}

footer a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    display: inline;
}

#dec-month-links a, #feb-month-links a {
    position: relative;
    left: 46%;
}

#jan-month-links a {
    position: relative;
    left: 39.5%;
}