* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sedgwick Ave', cursive;
}

form {
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
}

input, option, select {
    font-size: 18px;
    margin: 5px;
    margin-bottom: 20px;
}

li button {
    padding-left: 2px;
    padding-right: 2px;
}

a {
    color: black;
    font-size: 20px;
    padding: 20px;
}

header {
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 10px;
    padding-top: 50px;
    padding-bottom: 15px;
}

header.december {
    padding-top: 90px;
    text-shadow: 2px 1px 0 rgb(186, 212, 192), 4px 3px 0 rgb(81, 102, 80);
    background-image: url('https://i.pinimg.com/736x/f4/a1/d7/f4a1d7728a987dce535f814e7ca30195.jpg');
    object-fit: cover;
}

header.january {
    text-shadow: 2px 1px 0 rgb(173,201,220), 4px 3px 0 rgb(84,127,161);
    background-image: url('https://image.shutterstock.com/image-illustration/winter-border-blue-snowflakes-on-260nw-522644752.jpg');
    object-fit: cover;
}

header h3 {
    text-shadow: none;
    font-size: 20px;
    letter-spacing: 2px;
}

.days {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px;
}

.day-box {
    border: 2px solid black;
    border-radius: 4px;
    position: relative;
}

.day-header {
    font-size: 20px;
    border-bottom: 2px solid black;
    text-align: center;
    padding: 8px;
}

.day-activities {
    padding: 5px;
    font-size: 15px;
}

.day-activities ul {
    list-style-position: inside;
}

.december.day-box {
    border: 2px solid black;
    position: relative;
    box-shadow: 3px 3px 5px 0 rgb(81, 102, 80);
}

.january.day-box {
    border: 2px solid black;
    position: relative;
    box-shadow: 3px 3px 5px 0 rgb(84,127,161);
}

.day-header.december.week-1 {
    background-color: rgb(100, 132, 108);
}

.day-header.december.week-2 {
    background-color: rgb(125, 161, 132);
}

.day-header.december.week-3 {
    background-color: rgb(147, 184, 154);
}

.day-header.december.week-4 {
    background-color: rgb(186, 212, 192);
}

.day-header.december.week-5 {
    background-color: rgb(213, 230, 216);
}

.day-header.january.week-1 {
    background-color: rgb(120, 166, 201);
}

.day-header.january.week-2 {
    background-color: rgb(138, 180, 212);
}

.day-header.january.week-3 {
    background-color: rgb(161, 196, 223);
}

.day-header.january.week-4 {
    background-color: rgb(183, 215, 240);
}

.day-header.january.week-5 {
    background-color: rgb(210, 233, 250);
}

.day-header.january.week-6 {
    background-color: rgb(234, 242, 248);
}

