* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sedgwick Ave', cursive;
}

.month {
    font-size: 40px;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 10px;
    padding-top: 90px;
    padding-bottom: 15px;
}

.month.december {
    text-shadow: 2px 1px 0 rgb(173,201,220), 4px 3px 0 rgb(84,127,161);
    background-image: url('https://image.shutterstock.com/image-illustration/winter-border-blue-snowflakes-on-260nw-522644752.jpg');
    object-fit: cover;
}

#week-days, #week-1, #week-2, #week-3, #week-4, #week-5 {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
    text-align: center;
}

.day-box {
    border: 2px solid black;
    border-radius: 4px;
    position: relative;
}

.december.day-box {
    box-shadow: 3px 3px 3px 0 rgb(84,127,161);
}

.day-header {
    padding: 5px 5px 2px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    border-bottom: 2px solid black;
}

.day-activities {
    padding: 8px;
    font-size: 14px;
}

#week-1 .day-header {
    background-color: rgb(120, 166, 201);
}

#week-2 .day-header {
    background-color: rgb(138, 180, 212);
}

#week-3 .day-header {
    background-color: rgb(161, 196, 223);
}

#week-4 .day-header {
    background-color: rgb(183, 215, 240);
}

#week-5 .day-header {
    background-color: rgb(210, 233, 250);
}

#week-1:hover, #week-2:hover, #week-3:hover, #week-4:hover, #week-5:hover {
    transform: scale(1, 1.25);
}